{{#partial "titulo" }}
    Bienvenido Ingresaste
{{/partial}}

{{#partial "contenido"}}
<div><h4 ><a class="back-button" href="/home"> Back </a></h4></div>
    <h1> ERROR! ERROR!</h1>

    <h3>Usted no está logeado caballero/dama</h3>

    Vuelva al home
{{/partial}}

{{> layout-logged-out.html.hbs}}
