<html>
<head>
    <title>Nuestra App - {{seccion}}</title>
</head>

    <h3>NombreApp <a href="/incidentes">Incidentes</a> <a href="/sugerencias">Sugerencias</a> <a href="/rankings">Rankings</a> <a href="/me">Perfil</a> </h3>

    {{#block "contenido"}}
    {{/block}}
    <footer>
        <a></a>
        Copyright NombreApp
    </footer>
</html>